{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}


        Welcome to this research study!


{% endblock %}

{% block content %}

<p> <br> You are participating in a research study on economic decision-making. Part of your earnings from today’s study will
    be based on your decisions throughout this study. Therefore, it is important that you read the following
    instructions carefully. </p>


<p>Your decisions in the study and your answers in the subsequent questionnaire are <i>anonymous</i>. Neither the
    researchers conducting the study nor other participants know which decisions you made and how much you earned.</p>

<p> Please press the "Continue"-Button to proceed.</p>



<p>
<button class="otree-btn-next btn btn-primary">Continue</button>
</p>

{% endblock %}