{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h4>
    General Rules of Conduct
</h4>
{% endblock %}

{% block content %}
<p> <br> Completing this study will take around 15 minutes. You will be paid for your participation
    and we ask for your <i> full attention</i>
    during the study.</p>

<p>Please use a PC or a laptop and find a quiet space to complete the study. Please devote your
    undivided attention to
    this study. That is, do not listen to music or have conversations with other people, use social
    media etc. Please
    put your phone on airplane mode.</p>

<p>Please remain solely in this browser tab for the entire time you are
    participating in this study. </p>

<p>Your payment will be displayed at the end of the study. In order to get paid, you must complete
    <i> all parts</i>
    of today’s study including a brief questionnaire at the end. <br> </p>


<h4> Payment </h4>

<p> You will receive <i>{{Constants.showup}} GBP</i> for your participation in the study and an
    additional bonus payment up to
    <i> 9.00 GBP </i> depending on the decisions that you make in today’s study. <br> </p>

<h4> Structure of the Study </h4>

<p>The study consists of two main parts and a questionnaire. <br> </p>

<h4> Consent </h4>

<p>I have read and understood the information above. I agree to comply with the rules of conduct
    stated above and choose
    to participate in this study. <br> </p>

<p> Please press the "Continue"-Button to proceed.</p>

<p>
    <button class="otree-btn-next btn btn-primary">Continue</button>
</p>
{% endblock %}