{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Instructions to Part 2
{% endblock %}

{% block content %}


<p><br> In Part 2, you will revisit the general knowledge quiz you have just answered - this time
    with the option to <b>seek advice</b>.
    The following instructions will provide detailed instructions on the procedure. </p>

<p> Please press the "Continue"-Button to proceed. </p>



<p>
    <button class="otree-btn-next btn btn-primary">Continue</button>
</p>


{% endblock %}