.question_img {
    width: 200px;
}

.otree-timer {
    display: Yes
}

.otree-btn-next {
        width:150px;
        border: 1px solid black;
        background-color: #ffde00;
        color: black;
        float: right;
    }